h1{
    color: greenyellow;
}
h2{color:blue;}
h3{color: coral;}
main{color: white;
font-family: 'Courier New', Courier, monospace;}
body{ background-color: black;}
footer{color: red;
font-family: Verdana, Geneva, Tahoma, sans-serif;}